
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0;
	background: #F3F2ED url(images/img04.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464646;
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	color: #549900;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #D99821; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
	height: 60px;
	background: #131313;
}

#header {
	width: 1220px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 800px;
}

#menu ul {
	margin: 0;
	padding: 8px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	background: url(images/img01.jpg) no-repeat left 10px;
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	padding: 14px 20px 0px 20px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform:capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
}

#menu .current_page_item a {
}

#menu .first {
}
/* Search */

#search {
	float:right;
	padding: 10px 10px 0px 0px;
}

#search form {
	float: right;
	margin: 0;
	padding: 4px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
}

#search-text {
	width: 213px;
	height: 28px;
	padding: 6px 0 0 7px;
	border: none;
	background: url(images/img02.jpg) no-repeat left top;
	color: #000000;
}

#search-submit {
	width: 82px;
	height: 28px;
	margin-left: 10px;
	padding: 0px 5px;
	background: url(images/img03.jpg) no-repeat left top;
	border: none;
	text-indent: -9999px;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 1000px;
	margin: 0px auto;
	margin: 0 auto;
	background: #FFFFFF url(images/img06.jpg) repeat-y left 20px;
	height:2010px;;
	
}

#page-bgtop {
	width: 932px;
	margin: 0px auto;
	padding: 40px;
	background: url(images/img05.jpg) no-repeat left top;
	height:100%;
}


/** LOGO */

#logo {
	width: 940px;
	height: 97px;
	margin: 0 auto;
	padding-top: 20px;
	padding-left: 20px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform:capitalize;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	margin-top: -4px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #FFFFFF;
}

#logo h1 {
	font-size: 48px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#banner {
	padding-bottom: 20px;
}

/* Content */

#content 
{
   float: left;
	width: 610px;
}

/* Post */

.post {
	margin-bottom: 45px;
	padding-bottom: 30px;
	border-bottom: 1px solid #E0E0E0;
}

.post .title {
	height: 44px;
}

.post .title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 30px;
	color: #2E2E2E;
}

.post .date {
	display: inline-block;
	background: #454545;
	margin: 0px;
	padding: 0px 10px;
	color: #FFFFFF;
}

.post .meta {
	margin-left: 2px;
	padding: 4px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	margin: 0px;
}

.post .meta a {
	padding: 6px 10px 5px 10px;
	background: #454545;
	text-decoration: none;
	color: #FFFFFF;
}

.post .entry {
	padding: 10px 0px 20px 0px;
}

.post .links {
	height: 18px;
	margin: 0px 0px 4px 0px; 
	padding: 6px 10px 5px 10px;
	background: #454545;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: #90BF35;
	border: 1px solid #5F817E;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 0px;
	border-left: 10px solid #E0E0E0;
}

#sidebar li li {
	margin: 0px 0px 0px 20px;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #E0E0E0;
}

#sidebar li li a {
	font-weight: normal;
}

#sidebar li li a:hover {
	color: #666666;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
	border-left: 10px solid #E0E0E0;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 0px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #2E2E2E;
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 920px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	border-top: 1px solid #E0E0E0;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: 12px;
}

#footer a {
}
 /*objective style */
#conlocation
{
    position:fixed;
	width:300px;

    }
.form1{width:50%;
border-radius:5px;

}
#conlocation2
{
    position:absolute;
text-align:left;
left:190px;
margin-left:20px;
top:200px;
    }
.form2{width:30%;
border-radius:5px;
  position:absolute;


}
.uniselect{padding: 5px 12px;
    display: block;
    width: 50%;
	font-family:consolas;
	color:gray;
    padding:3px;
	 border-radius:4px;
	  background: #f2f2f2;
    border:none;
    outline:none;
    
   
}
.specialbtn{    background-color: #efe681;
    font-family:consolas;
    border: none;
    color: gray;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #e7e7e7;
	border-radius: 12px;
}
.specialbtn:hover {
   background-color: #e7e7e7;
   color:black;
}
/*end objective style */

/*faq style*/
/*details{
  font-family: 'Raleway', sans-serif;
}*/

summary {
  /*  transition: background .75s ease;*/
    width: 100%;
    outline: 0;
    text-align: center;
    font-size: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-top: 1px solid #D3D3D3;
 
}

details p {
    padding: 0 25px 15px 25px;
    margin: 0;
    text-shadow: none;
    text-align: justify;
  line-height: 1.3em;
}

summary::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  /* content: "\f107";*/
    display: inline-block;
    padding-right: 15px;
    font-size: 180%;
/*    color: #034171;*/

    
}
details[open] summary::after {
    content: "\f106";
    display: inline-block;
    padding-right: 15px;
    font-size: 180%;
}

details[open] summary:hover {
  background:none;
}
summary:hover {
    background: #d3d3d3;
}

details summary::-webkit-details-marker {
  display:none;
}

h2 {
    color: #D99821;
    text-align: left;
    margin-bottom: 0;
    padding: 15px;
    text-shadow: none;
}
/* hypothesis style*/
/*
 #tool_questions label{
	margin-bottom: 2px;
	display: block;
}

#tools_content #tool_questions{
	margin-top: 10px;
	margin-bottom: 10px;
}

#tools_content #tool_questions input{
	display: inline-block;
	padding: 4px;
	font-size: 12px;
	width: 365px;
	color: #000;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 5px;
}

#tools_content #tool_questions input:focus{
	outline: 0;
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

 #tool_questions .error{
	outline: 0;
	border-color: rgba(255, 53, 53, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(235, 82, 82, 0.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(235, 82, 82, 0.6);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(235, 82, 82, 0.6);
}

 #tool_questions span{
font-size: 11px;
color: rgb(129, 129, 129);
line-height: 12px;
}

 #tool_questions .eg{
	width: 300px;
	padding-left: 10px;
	padding-top: 14px;
}*/
#thesis-input-wrapper .field-label-number {
  float: left;
  background: #FD992F;
  border-radius: 30px;
  height: 40px;
  width: 50px;
  text-align: center;
  color: white;
  padding-top: 9px;
  margin-top: -3px;
  margin-right: 20px;
  font-size: 25px;
}
/* line 31, ../sass/thesis_generator.sass */
#thesis-input-wrapper textarea {
  width: 100%;
  margin-bottom: 30px;
  min-height: 40px;
    margin-left: 0px;
}
/* line 35, ../sass/thesis_generator.sass */
#thesis-input-wrapper .generate-thesis {

  margin-bottom: 36px;
  padding: 27px 31px;
  background-image: -webkit-linear-gradient(55deg, #F98B16 71%, #F5B006);
  background-image: linear-gradient(35deg, #F98B16 71%, #F5B006);
  color: #fff;
  font-size: 18px;
  text-align: center;
}
#thesis-input-wrapper .generate-thesis2 {

 padding:0px 30px 0px 30px ;
  background-image: linear-gradient(35deg, #F98B16 71%, #F5B006);
  color: #fff;
  font-size: 18px;
  text-align: center;
    margin-left: 50px;
}

/* line 46, ../sass/thesis_generator.sass */
#thesis-display-wrapper h1 {
  margin-bottom: 40px;
}
/* line 48, ../sass/thesis_generator.sass */
#thesis-display-wrapper .thesis-display {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  margin-bottom: 42px;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 46px;
}